body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.stats div {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}

.progress-bar {
    background: #1e293b;
    height: 15px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

#progressFill {
    background: #22c55e;
    width: 0%;
    height: 100%;
    transition: 0.4s;
}

.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.task-input input,
.task-input select {
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.task-input button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #1e293b;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.high { border-left: 5px solid red; }
.medium { border-left: 5px solid orange; }
.low { border-left: 5px solid green; }

.filters button {
    margin-right: 10px;
    padding: 6px 10px;
    background: #334155;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
